/* css reset */
*{
  margin: 0px;
  padding: 0px;
}
/* -----nav bar area----- */
nav{
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightblue;
  color: white;
}

nav h1{
  font-size: 45px;
}
nav li{
  list-style-type: none;
  margin-left: 30px;
}

nav ul{
  display: flex;
  
  justify-content: space-between;
}

nav a{
  color: white;
  text-decoration: none;
  font-size: 25px;
}

/* -----main section----- */
.main{
  width: 800px;
  height: 450px;
  /* this rule below will center the block */
  margin: 0 auto;
  /* background-color: orange; */
}

.sub-nav{
  /* background-color: red; */
  height: 100px;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

.weather-card-area{
  display: flex;
  justify-content: space-between;
  width: 800px;
}

.weather-card{
  width: 175px;
  height: 350px;
  background-color: lightgrey;
  text-align: center;
}
.weather-card h3{
  margin-top: 15px;
}
.weather-card img{
  width: 175px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.weather-numbers{
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
  font-size: 25px;
}
/* ------cookie section footer----- */

.cookie{
  margin: 0 auto;
  width: 800px;
  height: 100px;
  /* background-color: rgb(9, 129, 233); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cookie-image{
  margin: 15px
}
.cookie-description{
  width: 600px;
  /* background-color: red; */
}

.cookie button{

}
