body{
  background-color: blue;
}
p {
  display: inline-block;
  width: 200px;
  box-sizing: border-box;
  padding: 20px;
  background-color: lightgreen;
  margin: 10px;
  height: 500px;
  vertical-align: top;
}


