*{
  margin: 0;
  padding: 0;
}

nav{
  height: 100px;
  background-color: #0C4B33;
  display: flex;
  /* width: 1400px; */
  justify-content: space-evenly;
  align-items: center;

}

.navBarHeader{
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
}

.navBarHeader > h1{
  font-size: 36px;
  margin-right: 10px;
}
img{
  height: 15px;
  border-radius: 50%;
}

ul{
  height: 100%;
  display: flex;
  align-items: center;
  color:white;
  list-style: none;
  justify-content: space-between;
  font-size: 14px;
  width: 900px;
}

/* ----------main content-------- */

.jumboHeader{
  background-color: #0E1117;
  height: 300px;
  border-bottom: 2px solid white;
  padding-top: 130px;
}
.jumboHeader > h1{
  color: white;
  text-align: center;
 
}

.main_button{
  margin-left: 40%;
  margin-top: 35px;
  width: 300px;
  height: 60px;
  font-size: 18px;
  background-color: #51BE95;
  border-radius: 10px;
  border: 1px solid #51BE95;
}